<h1>SFガジェット図鑑</h1>

<h2>最近登録した作品</h2>

<% @works.each do |work| %>
<%= link_to(work.name, work_path(work.id)) %>
<br />
<% end %>

<h2>最近登録したガジェット</h2>

<% @gadgets.each do |gadget| %>
<%= link_to(gadget.name, gadget_path(gadget.id)) %>
<br />
<% end %>
