<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Work:</strong>
  <%= @gadget.work_id %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @gadget.description %>
</p>

<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
